<ion-view title="Login">
    <ion-content class="padding" ng-controller="LoginCtrl">

        <div class="padding">
            <label class="item item-input item-stacked-label">
                <input type="text" placeholder="Username">
            </label>
            <label class="item item-input item-stacked-label">
                <input type="password" placeholder="Password">
            </label>
        </div>

        <div class="padding">
            <button class="button button-block">
                Login
            </button>
        </div>

    </ion-content>
</ion-view>